<div class="footer" style="display: flex; justify-content: space-between;">
    <div>
        Identitiy log
    </div>
    <div *ngIf="activeRoute === 'resize' || activeRoute === 'grouped'">
        <!-- <p-paginator [rows]="10" [totalRecords]="1200" [rowsPerPageOptions]="[10,20,30]"></p-paginator> -->
        <!-- <div>
            <div *ngFor="let item of collection | paginate: { itemsPerPage: 1, currentPage: p }">
            </div>
            <pagination-controls (pageChange)="changePage($event)" maxSize="10" previousLabel="Form" nextLabel="Summary"></pagination-controls>
        </div> -->
        <div *ngFor="let item of collection | paginate: { itemsPerPage: 1, currentPage: page }"></div>
        <pagination-template #p="paginationApi" (pageChange)="page = $event; changePage($event)" maxSize="10">

            <div style="display: flex;">
                <div class="pagination-previous">
                    <a (click)="goToPage('main')" [style.color]="activeRoute === 'main' ? '#8381ff' : '#9b9b9b'"> Form </a>
                </div>
    
                <div *ngFor="let page of p.pages" [style.color]="p.getCurrent() === page.value && activeRoute !== 'grouped' ? '#8381ff' : '#9b9b9b'" style="padding-right: 10px; cursor: pointer;">
                    <a (click)="goToPage('resize'); p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" style="color: #9b9b9b;">
                        <span>{{ page.label }}</span>
                    </a>
                    <div *ngIf="p.getCurrent() === page.value">
                        <span>{{ page.label }}</span>
                    </div>
                </div>
    
                <div class="pagination-next">
                    <a (click)="goToPage('grouped')" [style.color]="activeRoute === 'grouped' ? '#8381ff' : '#9b9b9b'"> Summary </a>
                </div>
            </div>

        </pagination-template>
    </div>
    <div *ngIf="activeRoute !== 'finish'">
        <p-button *ngIf="!activeRoute || activeRoute === 'main'" [label]="activeRoute === 'grouped' ? 'EXPORT' : 'NEXT'" icon="pi pi-arrow-right" iconPos="right" (click)="next()"></p-button>
        <p-button *ngIf="activeRoute === 'resize'" icon="pi pi-arrow-right" [label]="activeRoute === 'grouped' ? 'EXPORT' : 'NEXT'" iconPos="right" (click)="nextPage()"></p-button>
        <p-button *ngIf="activeRoute === 'grouped'" [label]="activeRoute === 'grouped' ? 'EXPORT' : 'NEXT'" iconPos="right" (click)="export();"></p-button>
    </div>
</div>