.form {
    margin-top: 160px;
}

.ui-float-label>label {
    font-weight: 400;
    left: .8em;
    top: 1.3em;
}

.ui-float-label textarea:focus ~ label, .ui-float-label textarea.ui-state-filled ~ label, .ui-float-label>input:focus ~ label, .ui-float-label>input.ui-state-filled ~ label, .ui-float-label>.ui-inputwrapper-focus ~ label, .ui-float-label>.ui-inputwrapper-filled ~ label {
    top: -1em;
    font-size: 12px;
}

.form .ui-inputtext:enabled:hover:not(.ui-state-error) {
    border-color: #3935F5;
}

.ui-float-label {
    display: block;
    position: relative;
    margin-bottom: 25px;
}

.form .ui-inputtext:enabled:focus:not(.ui-state-error) {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2em #8381ff36;
    border-color: #8381ff;
}

.form .ui-inputtext {
    background: #ffffff;
    padding: 0.429em;
    border: 2px solid #8381ff;
    transition: border-color 0.2s, box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
        width: 400px;
}

.input-icon {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }